@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: sans-serif;
}

.custom-range {
  -webkit-appearance: none;
  width: 100%;
  height: 8px;
  border-radius: 5px;
  outline: none;
}

.custom-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: white;
  cursor: pointer;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

.custom-range::-moz-range-thumb {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: white;
  cursor: pointer;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

@layer components {
  .label-text{
    @apply text-grayText uppercase text-sm;
  }
  .settings-tab{
    @apply w-full bg-inputBg text-whiteText flex items-center justify-between py-3 px-4 rounded-xl
  }
}